.container{
    max-width:350px;
    margin:50px auto;
    padding: 20px;
    background-color: beige;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #cc949466;
}

h1{
    text-align: center;
}

label{
    font-weight: solid;
}

.form-control{
    margin-bottom: 15px;
}

.btn-primary{
    width: 100%;
    background-color: rgb(202, 155, 250);
    border: none;
    color: #fff;
}